# cp_diskserver
type bootchecker, domain;
type bootchecker_exec, exec_type, file_type;

init_daemon_domain(bootchecker)

allow bootchecker system_data_file:dir { add_name write };
allow bootchecker shell_exec:file { read open execute execute_no_trans getattr };
allow bootchecker system_data_file:file { read open };
allow bootchecker kernel:system syslog_read;
allow bootchecker system_file:file execute_no_trans;
allow bootchecker logdr_socket:sock_file write;
allow bootchecker logd:unix_stream_socket connectto;
allow bootchecker logcat_exec:file { read getattr open execute execute_no_trans };
allow bootchecker dumplog_data_file:file { create getattr open write append setattr };
allow bootchecker dumplog_data_file:dir { write add_name search };
allow bootchecker proc:file { open read };
