# Download
type download, domain;
type download_exec, exec_type, file_type;

init_daemon_domain(download)

allow download power_ctl_device:chr_file { open read write ioctl };
allow download serial_device:chr_file { open read write ioctl };
allow download wcn_device:chr_file { read write open };
allow download prod_file:dir search;
allow download prod_file:file { write open };
allow download kernel:system module_request;
allow download proc:file { open read write };
