type prod_file, file_type;
type wifi_efs_file, file_type;
type app_efs_file, file_type;
type sec_efs_file, file_type;
type imei_efs_file, file_type;
type dumplog_data_file, file_type;
type batterysrv_data_file, file_type;
type engpc_data_file, file_type;
type sysfs_ss_writable, file_type;
