allow init cache_file:blk_file getattr;
allow init init:capability sys_module;
allow init unlabeled:blk_file getattr;
allow init shell_data_file : sock_file { create getattr unlink } ;
allow init shell_data_file : file { read write create getattr unlink } ;
allow init shell_data_file : dir { read create getattr setattr search open } ;
allow init download_exec : file { read getattr execute } ;
allow init audio_device:fifo_file create;
allow init debugfs:dir mounton;
allow init device:fifo_file create;
allow init kernel:system module_request;
allow init tmpfs:lnk_file create;
allow init pstorefs:dir mounton;
allow init sdcardd_exec:file getattr;
allow init pstorefs:dir mounton;
allow init sdcardd_exec:file { read getattr open };
allow init asec_apk_file:dir mounton;
allow init socket_device:sock_file { create setattr write };
allow init property_socket:sock_file write;
allow init swap_device:blk_file write;
allow init sysfs_ss_writable:lnk_file read;
allow init sysfs_ss_writable:file { read write create getattr unlink open ioctl } ;
allow init debugfs:file write;
