allow init cache_file:blk_file getattr;
allow init init:capability sys_module;
allow init unlabeled:blk_file getattr;
allow init download_exec : file { read getattr execute open } ;
allow init audio_device:fifo_file create;
allow init debugfs:dir mounton;
allow init device:fifo_file create;
allow init kernel:system module_request;
allow init tmpfs:lnk_file create;
allow init pstorefs:dir mounton;
allow init sdcardd_exec:file getattr;
allow init pstorefs:dir mounton;
allow init sdcardd_exec:file { read getattr open };
allow init asec_apk_file:dir mounton;
allow init socket_device:sock_file { create setattr };
