type macloader, domain;
type macloader_exec, exec_type, file_type;

init_daemon_domain(macloader)

allow macloader efs_file:dir search;
allow macloader system_data_file:file open;
allow macloader self:capability dac_override;
allow macloader wifi_efs_file:dir { read write search };
allow macloader wifi_efs_file:file { read write open };
allow macloader self:capability net_raw;
allow macloader self:udp_socket { create ioctl };
allow macloader radio_data_file:file { create_file_perms read getattr open };
allow macloader self:capability { dac_override net_admin sys_module };
allow macloader system_data_file:file { getattr read };

type_transition macloader system_data_file:file radio_data_file;
