allow mediaserver graphics_device:dir search;
allow mediaserver graphics_device:chr_file { read write open };
allow mediaserver proc:file write;
allow mediaserver sensors_device:chr_file { open read write ioctl };
allow mediaserver system_data_file:dir { write add_name };
allow mediaserver system_data_file:fifo_file { create open read write setattr };
allow mediaserver system_data_file:file { open };
allow mediaserver audio_device:fifo_file { open read write };
allow mediaserver sysfs_wake_lock:file { open read write };
