allow mediaserver graphics_device:dir search;
allow mediaserver graphics_device:chr_file { read write open ioctl };
allow mediaserver proc:file write;
allow mediaserver sensors_device:chr_file { open read write ioctl };
allow mediaserver system_data_file:dir { write add_name };
allow mediaserver system_data_file:fifo_file { create open read write setattr };
allow mediaserver system_data_file:file { open };
allow mediaserver audio_device:fifo_file { open read write };
allow mediaserver sysfs_wake_lock:file { open read write };
allow mediaserver system_file:file execmod;
allow mediaserver media_prop:property_service set;
allow mediaserver media_data_file:fifo_file { create read open setattr };
allow mediaserver media_prop:file { getattr open read };
allow mediaserver camera_device:chr_file { open read write ioctl };
allow mediaserver sysfs:file write;
