# refnotify
type prepare_param, domain;
type prepare_param_exec, exec_type, file_type;

init_daemon_domain(prepare_param)

allow prepare_param shell_exec:file read;
allow prepare_param block_device:dir { write search };
allow prepare_param emmcblk_device : dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open } ;
allow prepare_param emmcblk_device : blk_file { ioctl read write create getattr setattr lock append unlink link rename open } ;
allow prepare_param system_file:file execute_no_trans;
allow prepare_param self:capability { fowner chown fsetid };
allow prepare_param block_device:dir add_name;
allow prepare_param block_device:lnk_file create;
allow prepare_param kernel:system module_request;
allow prepare_param shell_exec:file getattr;
allow prepare_param toolbox_exec:file { execute execute_no_trans getattr open read };
