allow rild proc_net:file write;
allow rild system_data_file:dir { create write add_name remove_name};
allow rild system_data_file:file { create write unlink setattr };
allow rild ctl_default_prop:property_service set;
allow rild ctl_rildaemon_prop:property_service set;
allow rild prod_file:dir search;
allow rild spipe_device:chr_file { open read write ioctl };
allow rild app_efs_file:dir { search };
allow rild app_efs_file:file { open read write ioctl getattr };
allow rild default_prop:property_service set;
allow rild mediaserver:dir search;
allow rild mediaserver:file { open read write ioctl getattr };
allow rild unlabeled:dir search;
allow rild unlabeled:file { open read getattr };
allow rild at_distributor:dir search;
allow rild at_distributor:file { open read getattr };
allow rild at_distributor:file getattr;
