type smd_symlink, domain;
type smd_symlink_exec, exec_type, file_type;

init_daemon_domain(smd_symlink)

allow smd_symlink shell_exec:file read;
allow smd_symlink system_file:file execute_no_trans;
allow smd_symlink device:dir { write add_name };
allow smd_symlink device:lnk_file create;
allow smd_symlink kernel:system module_request;
allow smd_symlink shell_exec:file getattr;
allow smd_symlink toolbox_exec:file { execute getattr execute_no_trans open read };
