allow surfaceflinger ctl_default_prop:property_service set;
allow surfaceflinger debug_prop:property_service set;
allow surfaceflinger kernel:system module_request;
allow surfaceflinger self:unix_stream_socket ioctl;
