allow system_server efs_file:dir search;
allow system_server serial_device:chr_file { read write };
allow system_server app_efs_file:dir search;
allow system_server wifi_efs_file:dir search;
allow system_server wifi_efs_file:file { open read write };
allow system_server self:capability sys_module;
allow system_server self:unix_stream_socket ioctl;
allow system_server sysfs_ss_writable:lnk_file read;
allow system_server unlabeled:file unlink;
allow system_server wifi_data_file:sock_file unlink;
allow system_server media_prop:file read;
