type wcnd, domain;
type wcnd_exec, exec_type, file_type;

init_daemon_domain(wcnd)

allow wcnd bluetooth_data_file:dir { read search write add_name };
allow wcnd bluetooth_data_file:file { create open read getattr setattr write };
allow wcnd download:unix_stream_socket connectto;
allow wcnd efs_file:dir search;
allow wcnd proc:file { open read write };
allow wcnd prod_file:dir search;
allow wcnd shell_exec:file { read open execute execute_no_trans };
allow wcnd wifi_data_file:dir { add_name read write search };
allow wcnd wifi_data_file:file { create open read write getattr setattr };
allow wcnd system_data_file:file { open };
allow wcnd wifi_efs_file:dir search;
allow wcnd wifi_efs_file:file { open read getattr };
allow wcnd system_file:file execute_no_trans;
allow wcnd kernel:system module_request;
allow wcnd radio_data_file:file { create_file_perms getattr read write open getattr };

allow wcnd proc_net:file { getattr open read };
allow wcnd shell_exec:file getattr;
allow wcnd system_data_file:file { getattr read };
allow wcnd toolbox_exec:file { execute execute_no_trans getattr open read };
# allow wcnd system_data_file:file { write };

allow wcnd ctl_default_prop:property_service set;
allow wcnd init:unix_stream_socket connectto;
allow wcnd property_socket:sock_file write;
allow wcnd sysfs:dir { open read };
allow wcnd system_prop:property_service set;

type_transition wcnd system_data_file:file radio_data_file;