on cali
#	mount_all /etc/recovery.fstab

# start slog
# trigger adb_enable

#set the function of eng storing the DSP/ARMlog to Sdcard closed in default
on property:ro.bootmode=cali
   setprop sys.config.engcplog.enable 1

service slog /system/bin/slog -t
	class main
	user root
